$browser-default-font-size: 64px !default;
* {
  word-spacing: 1px;
  letter-spacing: 1px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

html {
  background: #f0eff4;
  font-family: PingFangSC-Regular, Helvetica Neue, Tahoma, Arial, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

.wrap {
  width: 100%;
}

html {
  font-size: $browser-default-font-size;
}

@function pxTorem($px) {
  // 获取宽度高度等函数   调用  width:pxTorem(xx);
  @return $px / $browser-default-font-size * 1rem;
}

@mixin px2px($px) {
  // 获取文字大小函数   调用  @include pxTorem(xx);
  [data-dpr="1"] & {
    font-size: ($px / 2) * 1px !important;
  }
  [data-dpr="2"] & {
    font-size: $px * 1px !important;
  }
  [data-dpr="3"] & {
    font-size: ($px / 2 * 3) * 1px !important;
  }
}

@mixin marginLeft($width:100) {
  margin-left: -$width / 2;
}

@mixin marginTop($height:100) {
  margin-top: -$height / 2;
}

@mixin marginCen {
  margin-left: auto;
  margin-right: auto;
}

//透明度
@mixin opacity( $opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

//单选框
input[type="radio"] {
  position: relative;
  appearance: button;
  -webkit-appearance: button;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  width: .3rem;
  height: .3rem;
  &:checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: .2rem;
    height: .2rem;
    background-color: #59afff;
    border-radius: 50%;
    @include marginLeft(0.2rem);
    @include marginTop(0.2rem);
  }
}

//复选框
input[type="checkbox"] {
  position: relative;
  appearance: button;
  -webkit-appearance: button;
  border: 1px solid #b5b5b5;
  width: .3rem;
  height: .3rem;
  &:checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: .2rem;
    height: .2rem;
    background: #ccc;
    background-size: .2rem .2rem;
    @include marginLeft(0.2rem);
    @include marginTop(0.2rem);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

$bg:#fff;
$font:28;
$border_bg:#c5c5c5;
.wrap {
  //头部
  .header1 {
    width: 100%;
    height: pxTorem(66px);
    position: relative;
    border-bottom: 1px solid #ddd;
    z-index: 100;
    .filter-header {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 3;
      background-color: #fff;
      height: pxTorem(66px);
      a {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        width: 0;
        text-align: center;
        color: #666;
        position: relative;
        @include px2px(22);
        height: pxTorem(66px);
        line-height: pxTorem(66px);
        &.active {
          color: #3190e8;
          i {
            fill: currentColor;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        i {
          display: inline-block;
          width: .24rem;
          height: .106667rem;
          margin-bottom: .053333rem;
          fill: #999;
          will-change: transform;
          -webkit-transition: all .3s;
          transition: all .3s;
          border-left: pxTorem(10px) solid transparent;
          border-right: pxTorem(10px) solid transparent;
          border-top: pxTorem(10px) solid #999;
        }
      }
    }
    //food 页面头部
    .filter {
      left: 0;
      right: 0;
      top: 100%;
      border-top: 1px solid #ddd;
      position: absolute;
      max-height: 0;
      background-color: #fff;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      visibility: hidden;
      overflow: auto;
      opacity: 0;
      z-index: 3;
      &.active {
        opacity: 1;
        visibility: visible;
        max-height: 1000%;
      }
    }
    .filter_flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height:1000%;
    }
    .filter_bg {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .2);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    .filter_food {
      ul {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        width: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        &:first-child {
          background: #f2f2f2;
        }
        &:nth-of-type(2) {
          li {
            &.active {
              color: #3190e8;
              .count {
                color: #3190e8;
              }
            }
            .count {
              right: .266667rem;
              background-color: transparent;
              color: #999;
            }
          }
        }
        li {
          width: 100%;
          height: pxTorem(85px);
          line-height: pxTorem(85px);
          @include px2px(26);
          padding-left: pxTorem(26px);
          padding-right: pxTorem(10px);
          position: relative;
          &.active {
            background: nth($bg, 1);
          }
          img {
            height: auto;
            margin-right: .133333rem;
            width: pxTorem(32px);
            vertical-align: middle;
          }
          .count {
            position: absolute;
            right: .666667rem;
            line-height: .373333rem;
            top: 50%;
            margin-top: -.186667rem;
            border-radius: .266667rem;
            color: #fff;
            background-color: #ccc;
            padding: 0 .133333rem;
            font-size: .293333rem;
          }
          i {
            right: pxTorem(20px);
            top: 50%;
            @include marginTop(pxTorem(10px));
          }
        }
      }
    }
    .filter_sort {
      ul {
        padding-left: pxTorem(69px);
        width: 100%;
        li {
          width: 100%;
          height: pxTorem(83px);
          line-height: pxTorem(83px);
          border-bottom: pxTorem(1px) solid #efefef;
          @include px2px(26);
          &.active {
            color: #3190e8;
          }
        }
      }
    }
    .filter_extend {
      padding: 0 pxTorem(25px);
      clear: both;
      padding-bottom: 1.466667rem;
      position:absolute;
      .undeveloped{
        width:100%;
        height:100%;
        position:absolute;
        top:0;left:0;
        text-align:center;
        background:rgba(0,0,0,0.5);
        line-height:pxTorem(280px);
        color:#fff;
        @include px2px(32);
      }
      dl {
        overflow: hidden;
        margin-top: pxTorem(22px);
        margin-bottom: pxTorem(38px);
        dt {
          @include px2px(26);
          margin-bottom: pxTorem(22px);
        }
        dd {
          margin-right: pxTorem(10px);
          margin-top: pxTorem(10px);
          width: pxTorem(180px);
          height: pxTorem(50px);
          line-height: pxTorem(50px);
          border: pxTorem(1px) solid #d3d3d3;
          float: left;
          @include px2px(26);
          &.active {
            border-color: #a2d2ff;
            color: #3190e8;
            background-color: #edf5ff;
          }
          i {
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            border-width: 1px;
            margin: 0 .066667rem 0 .2rem;
            border-style: solid;
            width: .506667rem;
            line-height: .48rem;
            text-align: center;
            border-radius: .08rem;
            font-size: .32rem;
            box-sizing: border-box;
          }
        }
      }
    }
    .filter-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #eee;
      background-color: #fafafa;
      padding: 0 .133333rem;
      height: 1.466667rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      a {
        font-size: .48rem;
        line-height: 1.093333rem;
        border-radius: .08rem;
        text-align: center;
        text-decoration: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        width: 0;
      }
      a:first-child {
        background-color: #fff;
        border: 1px solid #ddd;
        margin-right: .266667rem;
        color: #333;
      }
      a:last-child {
        color: #fff;
        background-color: #56d176;
        border: 1px solid #56d176;
      }
    }
  }
  //登录
  .login {
    margin-top: pxTorem(30px);
    ul {
      background: nth($bg, 1);
      border-bottom: pxTorem(1px) solid nth($border_bg, 1);
      li {
        margin-left: pxTorem(30px);
        height: pxTorem(85px);
        line-height: pxTorem(85px);
        border-bottom: pxTorem(1px) solid nth($border_bg, 1);
        @include px2px(nth($font, 1));
        position: relative;
        &:last-child {
          border-bottom: 0;
        }
        input {
          width: 5rem;
          height: pxTorem(40px);
          line-height: pxTorem(40px);
          margin: pxTorem(20px) 0;
        }
        .switch {
          position: absolute;
          right: pxTorem(20px);
          top: 50%;
          @include marginTop(.4rem);
        }
      }
    }
    .login_button {
      @include marginCen;
      display: block;
      margin-top: pxTorem(40px);
      width: pxTorem(609px);
      height: pxTorem(95px);
      line-height: pxTorem(95px);
      text-align: center;
      @include px2px(nth($font, 1));
      color: nth($bg, 1);
      border: 0;
      border-radius: pxTorem(5px);
      background: #56d177;
    }
  }
  //portal首页
  .content {
    .list_item {
      background: nth($bg, 1);
      li {
        width: 25%;
        float: left;
        margin-top: pxTorem(25px);
        a {
          display: block;
          .container {
            width: pxTorem(75px);
            height: pxTorem(75px);
            @include marginCen();
            display: block;
          }
          .title {
            text-align: center;
            @include px2px(22);
            display: block;
            margin-top: pxTorem(20px);
          }
        }
      }
    }
    .list {
      background: nth($bg, 1);
      height: pxTorem(40px);
      ul {
        display: table;
        @include marginCen();
        li {
          width: pxTorem(14px);
          height: pxTorem(14px);
          float: left;
          margin-right: pxTorem(9px);
          background: #ccc;
          border-radius: 50%;
          margin-top: pxTorem(13px);
          &:last-child {
            margin-right: 0;
          }
          &.active {
            background: #666;
          }
        }
      }
    }
  }
  .store {
    background: nth($bg, 1);
    section {
      height: pxTorem(153px);
      border: pxTorem(1px) solid rgb(221, 221, 221);
    }
    dl {
      padding-top: pxTorem(25px);
      position: relative;
      dt {
        margin: 0 pxTorem(17px);
        float: left;
        width: pxTorem(102px);
        height: pxTorem(102px);
        .logo-decoration {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 50;
          width: .853333rem;
          height: .853333rem;
          background-image: -webkit-linear-gradient(315deg, #26ce61, #26ce61 50%, transparent 0);
          background-image: linear-gradient(135deg, #26ce61, #26ce61 50%, transparent 0);
          font-size: .293333rem;
          span {
            position: absolute;
            top: .133333rem;
            left: -.026667rem;
            display: block;
            color: #fff;
            font-weight: 700;
            -webkit-transform: rotate(-45deg) scale(.85);
            transform: rotate(-45deg) scale(.85);
          }
        }
      }
      dd {
        width: pxTorem(488px);
        @include px2px(22);
        float: left;
        .premium {
          &:before {
            margin-right: .133333rem;
            padding: 0 .066667rem;
            height: .4rem;
            border-radius: .053333rem;
            background-color: #ffd930;
            color: #52250a;
            content: "\54C1\724C";
            vertical-align: top;
            text-align: center;
            font-weight: 700;
            font-size: .293333rem;
            line-height: .4rem;
          }
        }
        .title {
          clear: both;
          overflow: hidden;
          h3 {
            width: pxTorem(309px);
            height: pxTorem(26px);
            line-height: pxTorem(26px);
            @include px2px(26);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
          }
          .support-wrap {
            float: right;
            i {
              padding: pxTorem(2px);
              @include px2px(22);
              border: pxTorem(1px) solid rgb(221, 221, 221);
              color: rgb(153, 153, 153);
              line-height: .346667rem;
              padding: 0 .053333rem;
              border-radius: .053333rem;
            }
          }
        }
        .rate {
          clear: both;
          margin-top: pxTorem(20px);
          height: pxTorem(25px);
          .rate-left {
            float: left;
            div {
              float: left;
              @include px2px(22);
            }
            span {
              float: left;
              color: #666;
            }
            .rates {
              float: left;
              color: #ff6000;
              margin: 0 .106667rem;
            }
          }
          .rate-right {
            float: right;
            .blue {
              background: #2395ff;
              color: nth($bg, 1);
            }
            span {
              border: pxTorem(1px) solid #2395ff;
              color: #2395ff;
              line-height: .346667rem;
              padding: 0 .053333rem;
              border-radius: .053333rem;
            }
          }
        }
        .limit {
          clear: both;
          margin-top: pxTorem(20px);
          .limit-left {
            float: left;
            span {
              color: #666;
              &:nth-of-type(2) {
                &:before {
                  margin: 0 .08rem;
                  color: #ddd;
                  content: '/';
                }
                max-width: 3.333333rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
          .limit-right {
            float: right;
            span {
              color: #666;
              &:nth-of-type(2) {
                &:before {
                  margin: 0 .08rem;
                  color: #ddd;
                  content: '/';
                }
                color:#2395ff;
                max-width: 3.333333rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}

//common
.title1 {
  margin-top: pxTorem(18px);
  @include px2px(22);
  height: pxTorem(56px);
  line-height: pxTorem(56px);
  background: nth($bg, 1);
  padding-left: pxTorem(26px);
  border-bottom: pxTorem(1px) solid #fafafa;
  color: #b0b0b0;
  span {
    display: inline-block;
    width: pxTorem(25px);
    height: pxTorem(25px);
    margin-right: pxTorem(15px);
  }
}

//三角形
i.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: pxTorem(10px) solid transparent;
  border-right: pxTorem(10px) solid transparent;
  border-top: pxTorem(10px) solid #999;
  &.triangle-up {
    border-bottom: pxTorem(10px) solid #999;
    border-top: 0;
  }
  &.triangle-left {
    border-top: pxTorem(10px) solid transparent;
    border-bottom: pxTorem(10px) solid transparent;
    border-right: pxTorem(10px) solid #999;
    border-left: 0;
  }
  &.triangle-right {
    border-top: pxTorem(10px) solid transparent;
    border-bottom: pxTorem(10px) solid transparent;
    border-left: pxTorem(10px) solid #999;
    border-right: 0;
  }
}
